@import "../core/variables.scss";
.footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: $softGreen;
  color: $deepGreen;
  &__text {
    font-size: 1.2rem;
  }
  &__nav {
    display: flex;
    justify-content: end;
  }
}
.fa-brands {
  color: $deepGreen;
  list-style: none;
  padding: 0 5px;
}
