@import "../core/variables.scss";
.detail {
  background-color: $deepGreen;
  width: 100%;
  min-height: 80vh;
  padding: 20px 0;
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 45px 0;
    background-color: $deepGreen;
    width: 95%;
    height: auto;
    border-radius: 25px;

    @media all and (min-width: 768px) {
      flex-direction: row;
    }
  }
  &__link {
    position: absolute;
    top: 20px;
    left: 15px;
    color: $softGreen;
  }
  &__img {
    width: 200px;
    height: 277px;
    object-fit: cover;
    border-radius: 10px;
  }
  &__info {
    color: $softGreen;
    line-height: 3rem;
    margin: auto;
  }
  &__title {
    font-family: $secondaryFont;
    font-size: 5rem;
    transform: scaleX(1.2);
    font-weight: 400;
    margin: 55px auto 20px;
    width: 250px;
    line-height: 5.5rem;
    text-align: center;
  }
  &__text {
    font-size: 2rem;
    text-align: center;
    @media all and (min-width: 768px) {
      text-align: left;
    }
  }
}
.border-Gryffindor {
  width: 220px;
  height: 295px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 3px 3px 20px 3px #ccc;
  background: repeating-linear-gradient(
    45deg,
    $yellowGryffindor,
    $yellowGryffindor 10px,
    $redGryffindor 5px,
    $redGryffindor 60px
  );
}
.border-Slytherin {
  width: 220px;
  height: 295px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 3px 3px 20px 3px #ccc;
  background: repeating-linear-gradient(
    45deg,
    $greySlytherin,
    $greySlytherin 10px,
    $greenSlytherin 5px,
    $greenSlytherin 60px
  );
}
.border-Hufflepuff {
  width: 220px;
  height: 295px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 3px 3px 20px 3px #ccc;
  background: repeating-linear-gradient(
    45deg,
    $yellowHufflepuff,
    $yellowHufflepuff 10px,
    $brownHufflepuff 5px,
    $brownHufflepuff 60px
  );
}
.border-Ravenclaw {
  width: 220px;
  height: 295px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 3px 3px 20px 3px #ccc;
  background: repeating-linear-gradient(
    45deg,
    $ravenclaw1,
    $ravenclaw1 10px,
    $ravenclawBlue 5px,
    $ravenclawBlue 60px
  );
}
