$primaryFont: "Times New Roman", serif;
$secondaryFont: "harryPotter", Georgia, Times, "Times New Roman", serif;
$softGreen: #e3e3c9;
$softOrange: #dcab8b;
$deepGreen: #256d69;
$yellowGryffindor: #ffc500;
$redGryffindor: #7f0909;
$greySlytherin: #9aa6a8;
$greenSlytherin: #1e4214;
$yellowHufflepuff: #f19515;
$brownHufflepuff: #33210a;
$ravenclaw1: #b78d61;
$ravenclawBlue: #00547d;
